(
    version: 1,
    general: (
        language: "en",
        user_interface: (
            scale: 1.0,
            theme: Light,
        ),
        development: (
            debug: false,
            diagnostic: false,
        ),
    ),
    gameplay: (),
    graphics: (
        fullscreen: false,
        resolution: (1280, 720),
        vsync: true,
        rendering: (
            quality: High,
            scale: 1.0,
        ),
        advanced_rendering: (
            world_detail: Low,
            anti_aliasing: Off,
            shadow_quality: Low,
            particle_quality: Medium,
            shading_quality: Low,
            bloom: Low,
            sun_shafts: true,
            foliage_fading: true,
            depth_buffer_precision: Low,
        ),
    ),
    audio: (
        output_device: "Default",
        output_mode: Default,
        master_volume: 0.85,
        music_volume: 0.85,
        ambience_volume: 0.85,
        ui_volume: 0.85,
        sfx_volume: 0.85,
    ),
    mouse: (
        invert_y: false,
        sensitivity_y: 3.5,
        sensitivity_x: 3.5,
        invert_wheel: false,
    ),
    controls: (
        behavior: (
            crouch: Hold,
            sprint: Hold,
            walk: Hold,
        ),
        movement: (
            move_forwards: "W",
            move_backwards: "S",
            move_left: "A",
            move_right: "D",
            jump: "Space",
            crouch: "LeftCtrl",
            sprint: "LeftShift",
            walk: "LeftAlt",
            fly_up: "Space",
            fly_down: "LeftCtrl",
        ),
        actions: (
            primary_action: "LeftMouse",
            secondary_action: "RightMouse",
            use_ability_1: "Q",
            use_ability_2: "E",
            use_ability_3: "R",
            drop_item: "G",
            hotbar_slot_1: "1",
            hotbar_slot_2: "2",
            hotbar_slot_3: "3",
            hotbar_slot_4: "4",
        ),
        menus: (
            open_inventory: "Tab",
            show_player_list: "P",
        ),
        misc: (
            switch_hud_visibility: "F8",
            toggle_fullscreen: "F11",
            take_screenshot: "F12",
        ),
        debug: (
            decrease_speed_multiplier: "F1",
            increase_speed_multiplier: "F2",
            toggle_creative_collision: "F3",
            toggle_fly_camera: "F4",
            toggle_fly_camera_control_target: "F5",
            toggle_debug_screens: "F7",
        ),
    ),
)
